@import "../../../scss/abstracts/variables";

.TextInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;

  &:focus {
    outline: none;
    border-bottom: 3px solid $color-red;
  }

  &:invalid {
    border-bottom: 3px solid $color-orange;
    box-shadow: none;
	animation: pulsing-color 1s infinite ease-in;
  }
}

@keyframes pulsing-color {
	0% {
		border-bottom: 3px solid $color-orange;
	}
	50% {
		border-bottom: 3px solid rgba($color-orange, 0.5);
	}
	50% {
		border-bottom: 3px solid transparent;
	}
}
