.Hero {
  position: relative;
  min-width: 100%;

  &__image {
    object-fit: cover;
	height: 75vh;
	width: 100%;
  }

  &__text {
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 50%;
  }
}
