@import "../../scss/abstracts/variables";

.CategoryLink {
	text-decoration: none;
	padding-bottom: 1.5rem;
	font-size: 1.8rem;
	border-bottom: 3px solid transparent;

	&:link {
		color: initial;
	}

	&:visited {
		color: initial;
	}

	&--active {
		border-bottom: 3px solid $color-red;
	}
}
