@mixin unstyled-list {
  text-decoration: none;

  &:link {
    color: initial;
  }

  &:visited {
    color: initial;
  }

  &:hover {
    color: initial;
  }
}

@mixin center-by-margin {
	margin-left: auto;
	margin-right: auto;
}

@mixin children-space-below($bottom-margin: 2rem) {
	& > * {
		&:not(:last-child) {
			margin-bottom: $bottom-margin;
		}
	}
}
