@import "../../scss/abstracts/variables";

.HeroText {
  font-size: 5rem;
  text-align: center;

  &--light {
    color: $color-white;
    text-shadow: 0 2px 3px $color-black;
  }

  &--dark {
    color: $color-white;
    text-shadow: 0 2px 3px $color-black;
  }
}
