@import "../../scss/abstracts/mixins";
@import "../../scss/abstracts/variables";

.ContactUs {
  &__contact {
	  width: 85%;
	  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
	  padding-bottom: 5rem;
	  @include center-by-margin;
  }

  &__map {
    width: 100%;
    height: 400px;
  }

  &__form {
	  width: 50%;
	  transition: 0.3s all;
	  @include center-by-margin;
  }
}

.ContactUs__form {
	@media only screen and (max-width: $bp-largest) {
		width: 90%;
	}
}
