.ProductSearchBar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 3rem;
	margin: 0 2rem;

	&__pair {
		display: grid;
		align-items: center;
		grid-template-columns: 10rem 1fr;
	}

	&__label {
		font-size: 2rem;
	}

	&__select {
		width: 100%;
	}
}
